:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  color: white;
  background-color: #343541;
}

.app-content {
  width: 100%;
  margin: 0;
  /*
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  */
  overflow-x: hidden;
  overflow-y: auto;
}


*[hidden] { display: none !important; }

*[margin-1] {
  margin-left: 1em;
}
.border-red, *[border-red] { border: 1px solid red; }
.border-green, *[border-green] { border: 1px solid green; }

*[w1-2], *[w50] { width: 50%; }
*[w100] { width: 100%; }

textarea {
  width: 100%;
}



/* Layout Elements */

column {
  display: flex;
  flex: 1 1 0;
  height: 0;
}



/* Tauri template styles */

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input, textarea {
  border-radius: 3px;
  padding: 0.4em 0.7em;
  background-color: #242a31;
  border: 1px solid #444a51;
  color: white;
  outline: none;
}

button, select, .select-input {
  border-radius: 3px;
  padding: 0.4em 0.7em;
  background-color: #444a51;
  border: none;
  color: white;
  outline: none;
}

button:hover, select:hover, .select-input:hover {
  background-color: #545a61;
}

select:hover, select:focus, input:hover, input:focus {
  outline: none;
}

.select-input {
  display: inline;
  margin: 0;
  overflow-y: visible;
  position: relative;
}

.select-input .decor-right {
  margin-left: 0.6em;
  line-height: inherit;
}

.context-options {
  position: absolute;
  top: 100%;
  border-radius: 3px;
  padding: 0;
  background-color: #444a51;
  left: 0;
  z-index: 99;

  min-width: 100%;
}

.context-options>div {
  padding: 0.2em 0.6em;
}

.context-options>div:hover {
  background-color: #545a61;
}

select, button, input {
  appearance: none;
}

input, button, select {
  font-size: 1em;
}



.page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.page > .content {
  flex-grow: 1;
  overflow: auto;
}

.toolbar {
  flex-shrink: 0;
  height: 100%;

  background-color: #202123;
}

/*
input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
*/
