<script setup lang="ts">
  import { ref, onMounted, onUnmounted } from "vue";

  /*defineOptions({
    inheritAttrs: false
  });*/
  const emit = defineEmits(['update:modelValue'])
  const props = defineProps(['modelValue', 'options']);
  const opened = ref(false);

  const mainElem = ref(null);

  var windowClick = event => {
    if (!mainElem.value.contains(event.target) && opened.value) {
      opened.value = false;
    }
  }

  onMounted(() => {
    window.addEventListener("click", windowClick);
  });

  onUnmounted(() => {
    window.removeEventListener("click", windowClick);
  });

  function setValue (val) {
    emit('update:modelValue', val);
  }

  function optionList () {
    let options = props.options;

    if (!options) {
      return [];
    } else if (options instanceof Array) {
      options = options.map(opt => ({ title: opt, value: opt }));
    } else {
      options = Object.entries(options).map(
        ([k, v]) => ({title: v, value: k})
      );
    }

    return options;
  }

  function mainTitle () {
    if (props.modelValue != null) {
      let options = optionList();
      let opt = options.find(opt => opt.value == props.modelValue);
      if (opt) {
        return opt.title;
      } else {
        return props.modelValue;
      }
    }
    return "-";
  }

</script>

<template>
  <span class="select-input" @click="opened = !opened" ref="mainElem">
      {{mainTitle()}}
      <i class="fa-solid decor-right" :class="'fa-angle-' + (opened ? 'up' : 'down')"/>
      <div v-if="opened" class="context-options">
        <div class="option" v-for="opt in optionList()" @click="setValue(opt.value)">
          <span v-if="opt">{{opt.title}}</span>
          <span v-else style="color:gray">{{
            opt.title === '' ? '-' : JSON.stringify(opt.title)
          }}</span>
        </div>
      </div>
  </span>
</template>

<style>
</style>
