<script setup lang="ts">
  import { ref, computed } from "vue";

  import EditableSpan from "../widgets/EditableSpan.vue";
  import SelectInput from "../widgets/SelectInput.vue";

  import Agent from "../models/Agent";
  import Script from "../models/Script";
  import Chat from "../models/Chat";

  import nav from "../nav";
  import * as app from "../app";
  import * as scheduler from "../scheduler";

  const agents = computed(() => {
    return Agent.listReactive().value.map(
      shell => Agent.getReactive(shell.id)
    );
  });

  console.log("agents", agents);

  const scriptOptions = computed(() => {
    let scripts = Script.listReactive();
    return Object.fromEntries(scripts.map(
      script => [script.id, script.title || `Script #${script.id}`]
    ));
  });

  const selected = ref(null);

  async function newAgent () {
    let agent = await Agent.create();
    agent.name = "New Agent";
  }

  async function deleteAgent (agent) {
    if (await app.confirm(`Delete agent ${agent.name}?`)) {
      await Agent.delete(agent.id);
    }
  }

  async function newChat (agent) {
    let task = await agent.start();

    let chat = await Chat.create();
    chat.taskId = task.id;
    chat.agentId = agent.id;

    task.chatId = chat.id;

    scheduler.start(task);

    nav.go('chat', {chatId: chat.id});
  }
</script>

<template>
  <h1>Agents</h1>
  <div class="agent-board">
    <div class="slot" v-for="agent in agents">
      <div class="card">
        <header>
          <editable-span v-model="agent.name"/>
        </header>

        <div class="label">
          Prompt:
        </div>

        <div>
          <textarea v-model="agent.prompt">
          </textarea>
        </div>

        <div class="label">
          Script:
        </div>
        <div>
          <select-input v-model="agent.scriptId" :options="scriptOptions" />
        </div>
        <div style="display: flex; justify-content: space-evenly;">
          <button @click="newChat(agent)">
            <i class="fa-solid fa-message"></i>
          </button>
          <button @click="deleteAgent(agent)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="slot">
    </div>
  </div>
  <div style="text-align: center;">
    <button @click="newAgent()">Create New Agent</button>
  </div>
</template>

<style type="text/css" scoped>
  .agent-board {

  }

  .slot {
    display: inline-block;
    width: 100%;
    max-width: 50%;
    min-width: 10em;
    padding: 1em;
    box-sizing: border-box;
  }

  .card {
    background: black;
    padding: 1em;
    border-radius: 0.6em;
  }

  .card header {
    font-weight: bold;
  }

  .card .label {
    font-weight: bold;
    font-size: 80%;
  }

  .card textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    height: 10em;
  }
</style>
