<script setup lang="ts">
  import { ref, computed, reactive } from "vue";
  import { listen } from "../app";

  const alerts = ref([]);

  listen("alert", event => {
    let params = event.payload;

    alerts.value.push({
      message: params.message,
      hide () {
        let i = alerts.value.indexOf(this);
        if (i >= 0) {
          alerts.value.splice(i, 1);
        }
      },
    });
  });
</script>

<template>
  <div style="
    position: absolute;
    width: 100%;
    top: 100%;
    transform: translateY(-100%);
  ">
    <div class="entry" v-for="alert in alerts" @click="alert.hide()">
      {{ alert.message }}
    </div>
  </div>
</template>

<style scoped>
  .entry {
    background: yellow;
    color: brown;
    padding: 0.15em 0.5em;
  }
</style>