<script setup lang="ts">
  import Chat from "../models/Chat";
  import Agent from "../models/Agent";

  import SelectInput from "../widgets/SelectInput.vue";

  import nav from "../nav";
  import * as app from "../app";
  import * as scheduler from "../scheduler";

  import { ref, computed, reactive } from "vue";

  const filter = ref("");
  const agentSelect = ref(null);

  const agentOptions = Agent.optionsReactive();

  const chats = computed(() => {
    let list = Chat.listReactive().value;

    let mapped = list
      .filter(chat => {
        if (filter.value) {
          return chat.name && chat.name.includes(filter.value);
        }
        if (agentSelect.value != null) {
          return chat.agentId == agentSelect.value;
        }
        return true;
      })
      .map(chat => ({
        id: chat.id,
        name: chat.name || `Chat ${chat.id}`,

        agentName: null,
        preview () {
          if (!chat.events) {
            return "<empty>";
          }

          let head = chat.events[chat.head];
          if (!head) return "";
          let content = head.content;
          if (content)
            if (content.length > 200)
              return content.slice(0, 50) + ' ... ' + content.slice(-50);
            else
              return content;
          return '';
        },

        open () {
          nav.go('chat', {chatId: this.id});
        },

        async delete () {
          if (await app.confirm(`Delete ${this.name}?`)) {
            Chat.delete(this.id);
          }
        },
      }));

    //mapped.sort((a, b) => b.date.getTime() - a.date.getTime());
    mapped.reverse();

    mapped = reactive(mapped);

    mapped.forEach(async entry => {
      let chat = await Chat.get(entry.id);
      if (chat.agentId != null) {
        let agent = await Agent.get(chat.agentId);
        entry.agentName = agent.title;
        //console.log('set agent', entry.name, agent.title);
      }
    });

    return mapped;
  });

  async function newChat () {
    if (agentSelect.value == null) {
      app.alert("Select an Agent to chat with");
      return;
    }

    let agent = await Agent.get(agentSelect.value);

    let task;
    try {
      task = await agent.start();
    } catch(e) {
      app.alert(e.toString());
      return;
    }

    let chat = await Chat.create();
    chat.taskId = task.id;
    chat.agentId = agent.id;

    task.chatId = chat.id;

    scheduler.start(task);

    nav.go('chat', {chatId: chat.id});
    // TODO
  }
</script>

<template>
  <h1>Chats</h1>
  <div class="chat-list">
    <div class="head-row">
      <div class="entry">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input v-model="filter">
      </div>
      <div class="entry">
        <select-input v-model="agentSelect" :options="agentOptions"/>
        Agent
      </div>
    </div>
    <div class="entry hover" @click="newChat()">
      + Start New Chat
    </div>
    <div class="entry hover" v-for="chat in chats" @click="chat.open()">
      <header>
        {{ chat.name || `Chat #${chat.id}` }}
        <div style="float: right; display: flex;" @click="$event.stopPropagation()">
          <button>
            <i class="fa-solid fa-pencil"></i>
          </button>
          <button @click="chat.delete()">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </header>
      <div class="agent">
        {{ chat.agentName }}
      </div>
      <div class="preview">
        {{ chat.preview() }}
      </div>
    </div>
  </div>
</template>

<style type="text/css" scoped>
  .entry {
    margin: 0.5em;
    padding: 0.5em;
    background-color: #444654;
    border-radius: 6px;
  }

  .entry.hover:hover {
    background-color: #646674;
  }

  .entry header {
    display: block;
    font-weight: bold;
  }

  .entry .agent {
    font-weight: bold;
    font-size: 80%;
    padding-left: 1em;
  }

  .head-row {
    display: flex;
    justify-content: space-between;
  }
</style>
