<script setup lang="ts">
  import { ref, computed } from "vue";

  import fs from "fs";

  import nav from "../nav";
  import * as app from "../app";
  import * as config from "../config";

  // ugly ass vue hack
  // wtf vue, you disappoint me....
  const refreshKey = ref(0);

  const projectPath = ref(null);

  const token = ref("");
  config.watch('openai-api-key', val => {
    token.value = val;
  });

  function tokenDisplay () {
    if (!token.value) return "";
    return token.value.slice(0, 5) + "..." + token.value.slice(-3);
  }

  async function inputToken () {
    let key = await app.input("Enter OpenAI API Key");
    if (key != null) {
      config.set('openai-api-key', key);
      app.alert("Changed OpenAI API Key");
    }
  }
</script>

<template>
  <h1>Horde</h1>
  <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
  ">
    <span>
      <strong>Project:</strong>
      {{projectPath}}
    </span>
    <button @click="nav.go('newchat', {})">Start Chatting</button>
    <button v-if="projectPath != null" @click="changeProject()">Change Project</button>
    <div style="height: 2em;"></div>
    <div>OpenAI Token: {{ tokenDisplay() }}</div>
    <button @click="inputToken()">Set OpenAI Token</button>
  </div>
</template>

<style type="text/css" scoped>
  button {
    width: 15em;
    margin: 0.5em;
  }
</style>
