<script setup lang="ts">
  import { ref, computed } from "vue";

  import Plugin from "../models/Plugin";

  const plugins = computed(() => {
    return Plugin.listReactive();
  });

  const selected = ref(null);

  async function select (id) {
    console.log("select", id);
    selected.value = await Plugin.get(id);
  }

  async function reload () {
    Plugin.loadAll();
  }
</script>

<template>
  <h1>Plugins</h1>

  <div>
    <button @click="reload()">Reload</button>
  </div>

  <div>
    <ul>
      <li v-for="plugin in plugins">
        <a href="#" @click="select(plugin.id)">
          {{plugin.title}}
        </a>
      </li>
    </ul>
  </div>

  <div v-if="selected">
    <h3>Members</h3>
    <ul>
      <li v-for="member in selected.members">
        {{member.name}}
      </li>
    </ul>
    <h3>Content</h3>
    <pre>{{selected.content}}</pre>
  </div>
</template>

<style type="text/css" scoped>
  button {
    width: 15em;
    margin: 0.5em;
  }
  pre {
    text-align: left;
  }
</style>
