<script setup lang="ts">
  import { ref, computed, reactive, watch, onMounted, onUnmounted } from "vue";
  import * as horde from '../horde';

  import Message from '../components/chat/Message.vue';

  const props = defineProps<{
    id: string
  }>();

  const chat = ref({});
  const messages = ref([]);
  const tasks = ref([]);

  watch(() => props.id, id => {

	  console.log("chat id", id)
    // returns promise of the cancel function
    horde.observeObject('.horde/chats/' + id + '.json', obj => {
	    console.log("chat", obj)

      // Compute data before the object becomes reactive
	    obj.id = id;
      messages.value = computeMessages(obj);
      /*computeTasks(id).then(ts => {
        tasks.value = ts;
      });*/

      chat.value = obj;
    });

    //listenChatEvents(id);
  }, {immediate: true})

  function decodeReactive (value) {
    if (value instanceof horde.Stream) {
      let acc = "";
      let wrapper = ref(acc);

      value.on('data', delta => {
        acc += delta;
        wrapper.value = acc;
      });

      return wrapper;
    }

    return value;
  }

  function computeMessages (chatValue) {
    let list = [];

    let nextIndex = chatValue.last_event_index;
    while (nextIndex != null) {
      let event = chatValue.events[nextIndex];
      if (!event) {
        console.error("Invalid message index: " + nextIndex, chatValue);
        break;
      }

      // Copy all fields
      event = Object.assign({}, event);

      // content could be a stream
      event.content = decodeReactive(event.content);

      list.push(event);
      nextIndex = event.previous;
    }

    list.reverse();
    return list;
  }

  async function computeTasks (chatId) {
    let res = await horde.handle('task/find', {
      variables: { '.chatId': chatId }
    });

    return res.taskIds;
  }



  var cancelChatListener = null;

  async function listenChatEvents (chatId) {
    if (cancelChatListener) {
      cancelChatListener();
    }

    let cancelMe = false;
    cancelChatListener = function () {cancelMe = true};

    var stateValue = null;
    while (true) {
      let res = await horde.handle('chat/listen_events', {
        chat_id: chatId,
        '.cont': stateValue,
      });
      if (cancelMe) break;

      let event = res.event;
      event.content = decodeReactive(event.content);
      messages.value.push(event);

      stateValue = res['.cont'];
    }
  }


  // === Chat Functionality === //

  const inputFieldElem = ref(null);

  async function sendMessage (msg) {
    let elem = inputFieldElem.value;

    let content = elem.innerText;
    elem.innerText = "";

    await horde.handle('chat/send_message', {
      chat_id: chat.value.id,
      sender: 'user',
      format: 'text',
      content,
    });
  }


  // === UI Helper Functions === //

  function msgClass (msg) {
    if (msg.sender == 'user') {
      return ['user']
    } else {
      return [];
    }
  }

  function inputKeyDown (event) {
    if (event.key == "Enter" && event.ctrlKey) {
      event.preventDefault();

      sendMessage();
    }
  }

</script>

<template>
  <div class="chat-view">
    <h1>{{ chat.name || 'Chat #' + chat.id }}</h1>

    <div>
      <div v-if='tasks.length == 1'>
        <a :href="`/task/${tasks[0]}`">Task #{{tasks[0]}}</a>
      </div>
      <div v-if='tasks.length > 1'>
        Many tasks: {{tasks}}
      </div>
    </div>

    <div class="chat-container">
      <div v-for="msg in messages" class="message" :class="msgClass(msg)">
        <div v-if="msg.type == 'message'" class="sender">{{msg.sender}}</div>

        <message v-if="!msg.collapse" :value="msg.content" :format="msg.format"></message>

        <div v-if="msg.collapse">
          <a href="#" @click.prevent="msg.collapse = false">Show</a>
        </div>
        <div v-if="msg.collapse === false">
          <a href="#" @click.prevent="msg.collapse = true">Hide</a>
        </div>
      </div>
    </div>

    <div class="input-container">
      <span class="input-field" ref="inputFieldElem" @keydown="inputKeyDown($event)" contenteditable></span>
      <div style="display:flex;flex-direction:column;">
        <button id="send-button" @click="sendMessage()">Send</button>
        <span style="font-size: 66%;text-align: center;">(Ctrl+Enter)</span>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .chat-view {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .chat-container {
    flex: 1;
    overflow-y: scroll;
    padding: 20px;
  }

  .message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--color-background-soft);
  }

  .message .content {
    white-space: pre-wrap;
  }

  .message .sender {
    font-weight: bold;
    font-size: 100%;
  }

  .message.user .content {
    right: 100%;
    width: auto;
  }
  .input-container {
    display: flex;
    padding: 10px;
    background-color: var(--color-background-soft);
    border-top: 1px solid var(--color-border);
  }

  .input-field {
    flex-grow: 1;
    outline: none;
  }

  .input-field:empty::before {
    opacity: 50%;
    content: "Type your message...";
  }

  #send-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;

    height: min-content;
    align-self: end;
  }
</style>
