<script setup lang="ts">
  import {
    ref, computed,
    shallowRef, triggerRef,
    onMounted, onUnmounted,
  } from "vue";

  import * as horde from '../horde';
  import * as ui from '../ui';

  import FileEntry from '../components/FileEntry.vue';
  import { Directory } from '../files';

  const root = ref(new Directory("/"));

  onMounted(() => {
    root.value.open();
  });
</script>

<template>
  <main>
    <h1>Files</h1>

    <div class="files-container">
      <file-entry :entry="root" />
    </div>

    <div class="toolbar" hidden>
      <button>
        Upload
      </button>

      <button>
        Dos
      </button>
    </div>
  </main>
</template>


<style scoped>
  main {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .files-container {
    flex-grow: 1;
  }
  .toolbar {
    border-top: 1px solid var(--color-border);
    padding: 0.6em 1em;

    display: flex;
    flex-direction: row;
    gap: 0.8em;
  }
</style>