<script setup lang="ts">
  import { ref } from 'vue';
  import {getConfig, storeUserData} from '../appconfig';
  import * as horde from '../horde';
  import * as ui from '../ui';

  const userConfig = ref({});
  getConfig().then(config => userConfig.value = config);

  // UI state variables
  const showLoginPanel = ref(false);
  const username = ref('');
  const password = ref('');
  
  async function loginSubmit (username, pwd) {
    try {
      let token = await horde.login(username, pwd);
      if (token != null) {
        await storeUserData({username, token});
        location.reload(false);
      }
    } catch (error) {
      ui.alert("Incorrect Credentials");
    }
  }

  async function logoutClick () {
    if (confirm("Are you sure you want to log off?")) {
      await storeUserData({username: null, token: null});
      location.reload(false);
    }
  }
</script>

<template>
  <main>
    <div class="container">
      <h1>Horde Agent Laboratory</h1>
      <br>
      <p>
        Welcome to Horde!<br>
        In the left sidebar you can find all currently available Agents and Scripts.<br>
        Checkout the <a href="/marketplace">Marketplace</a> for more content.<br>
        <br>

        {{ userConfig.username ? `User: ${userConfig.username}` : 'You are not logged in. Please login below.' }}
      </p>
      <button v-if="userConfig.username" @click="logoutClick()">Logout</button>
      <button v-if="!userConfig.username" @click="showLoginPanel = !showLoginPanel">Login</button>

      <div v-if="showLoginPanel">
        <form @submit.prevent="loginSubmit(username, password)">
          <div class="container">
            <input v-model="username" class="input-field" type="text" placeholder="Username">
            <input v-model="password" class="input-field" type="password" placeholder="Password">
            <button class="button" type="submit">Login</button>
            <p style="margin-top: 2em;">
              Don't have a user?
              <a href="/signup">Signup</a>.
            </p>
          </div>
        </form>
      </div>
    </div>
  </main>
</template>

<style scoped>
  .container {
    max-width: 700px;
    margin: 2em auto;
    text-align: center;
  }

  .input-field {
    width: 80%;
    padding: 0.5em;
    margin-bottom: 1em;
  }

  .button {
    width: 80%;
    padding: 0.5em;
  }
</style>