<script setup lang="ts">
  import { ref } from 'vue';
  import {fetchListings, installListing} from './scripts/Marketplace';

  let listings = ref([]);
  fetchListings().then(data => {listings.value = data;});
</script>

<template>
  <main>
    <h1>Marketplace</h1>
    <div class="card-gallery">
      <div v-for="item in listings" :key="item.handle" class="card" :class="{'pad-picture': !item.picture}">
        <div class="card-image-container" v-if="item.picture">
          <img :src="item.picture" alt="Card Image" class="card-image" />
        </div>
        <h2>{{ item.name }}</h2>
        <div class="card-content">
          <p class="card-description">{{ item.description }}</p>
        </div>
        <div class="card-footer">
          <button @click="installListing(item.type, item.handle)">Install</button>
        </div>
      </div>
    </div>
  </main>
</template>

<style scoped>
.card-gallery {
  display: flex;
  overflow-x: auto;
  padding: 1em;
  padding-right: 8em;
}

/* Add a gradient overlay to the right side of the card gallery */
.card-gallery::after {
  content: '';
  position: absolute;
  top: 0;
  left: calc(100% - 8em);
  width: 8em;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--color-background));
  pointer-events: none; /* Ensure the overlay is not interactive */
}

.card {
  flex: 0 0 15em;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  padding: 0.5em;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);  
  box-shadow: 1px 2px 5px 1px #0003;
  height: 28em;
  overflow: hidden;
}

.card-image-container {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
  /* Use contain to maintain aspect ratio without cropping */
  object-fit: contain;
}

.card-content { padding: 0.6em; overflow-y: auto; }
.card-description { white-space: normal; }
.card-footer { text-align: center; }

.card.pad-picture { padding-top: 1.5em; }

</style>