<script setup lang="ts">
  import { ref } from 'vue';
  import {getConfig, storeUserData} from '../appconfig';
  import * as horde from '../horde';
  import * as ui from '../ui';

  const userConfig = ref({});
  getConfig().then(config => userConfig.value = config);

  // UI state variables
  const showLoginPanel = ref(false);
  const email = ref('');
  const username = ref('');
  const password = ref('');
  const password_repeat = ref('');
  
  async function signupSubmit (email: string, username: string, pwd: string, pwdRep: string) {
    if (pwd != pwdRep) {
      ui.alert(`Password doesn't match ${pwd} != ${pwdRep}`);
      return;
    }

    try {
      let token = await horde.signup(email, username, pwd);
      if (token != null) {
        await storeUserData({email, token});
        ui.goto("/");
        requestAnimationFrame(() => location.reload());
      }
    } catch (error) {
      console.error('signup failed', error);
      ui.alert("Signup Failed");
    }
  }
</script>

<template>
  <main>
    <div class="container">
      <br>
      <h1>Sign Up</h1>

      <form @submit.prevent="signupSubmit(email, username, password, password_repeat)">
        <div class="container">
          <input v-model="email" class="input-field" type="text" placeholder="Email">
          <input v-model="username" class="input-field" type="text" placeholder="Username">
          <input v-model="password" class="input-field" type="password" placeholder="Password">
          <input v-model="password_repeat" class="input-field" type="password" placeholder="Repeat Password">
          <button class="button" type="submit">Signup</button>
        </div>
      </form>
    </div>
  </main>
</template>

<style scoped>
  .container {
    max-width: 700px;
    margin: 2em auto;
    text-align: center;
  }

  .input-field {
    width: 80%;
    padding: 0.5em;
    margin-bottom: 1em;
  }

  .button {
    width: 80%;
    padding: 0.5em;
  }
</style>