<script setup lang="ts">
  import { ref, computed, reactive, watch, onMounted, onUnmounted } from "vue";
  import * as horde from '../horde';
  import * as ui from '../ui';

  const props = defineProps<{
    id: string
  }>();

  const task = ref({
    slots: {},
  });
  const logs = ref([]);

  watch(() => props.id, id => {

    // returns promise of the cancel function
    horde.observeObject('.horde/tasks/' + id + ".json", obj => {
      for (let k in obj.slots) {
        obj.slots[k] = decodeReactive(obj.slots[k]);
      }
      obj._running = (obj.currentStep != null) && (!obj.paused);
      task.value = obj;
    });

    horde.observeObject('.horde/tasklogs/' + id + ".json", obj => {
      logs.value = obj.logs.map(src => {
        let logobj = Object.assign({}, src);
        if (logobj.data && JSON.stringify(logobj.data).length > 100) {
          logobj.collapse = true;
        }
        return logobj;
      });
    });
  }, {immediate: true})

  // Converts an object into a reactive object if necessary by its Horde type
  function decodeReactive (value) {
    console.log('decodeReactive', value)
    if (value instanceof horde.Stream) {
      let acc = "";
      let wrapper = ref(acc);

      value.on('data', delta => {
        acc += delta;
        console.log('decoded delta', delta, acc);
        wrapper.value = acc;
      });

      return wrapper;
    }

    return value;
  }

  // === Actions === //

  async function runStep () {
    console.log('step', task.value.id, props.id);

    await horde.handle('task/step', {
      taskId: task.value.id,
    });
  }

  async function runTask () {
    await horde.handle('task/run', {
      taskId: task.value.id,
    });
  }

  async function pauseTask () {
    await horde.handle('model/update', {
        model: 'task',
        id: task.value.id,
        subpath: ['paused'],
        value: true,
    });
  }

  function addSlot () {
    ui.editValue('text', 'Enter Slot Key', key => {
      ui.editValue('text', 'Enter Value', async newval => {
        await horde.handle('model/update', {
          model: 'task',
          id: task.value.id,

          subpath: `slots.${key}`,
          value: newval,
        });
      });
    });
  }

</script>

<template>
  <div>
    <h1>{{ 'Task #' + task.id }}</h1>

    <div>
      <strong>Script: </strong>
      <em v-if="task.scriptId == null">None</em>
      <a v-else :href="`/script/${task.scriptId}.json`">#{{task.scriptId}}</a>

      <br>

      <strong>Current Step: </strong> {{task.currentStep}}

      <br>

      <strong>Agent: </strong>
      <em v-if="task.agentId == null">None</em>
      <a v-else :href="`/agent/${task.agentId}.json`">#{{task.agentId}}</a>

      <br>

      <!--a v-if="task.slots['.chatId']" :href="`/chat/${task.slots['.chatId']}.json`">Open Chat</a-->
    </div>

    <div>
      <button @click="runStep()">Step</button>
      <button v-if="task._running" @click="pauseTask()">Pause</button>
      <button v-else @click="runTask()">Run</button>
    </div>

    <div>
      <h3>Slots</h3>

      <ul>
        <li v-for="(value, key) in task.state.variables">
          <strong>{{key}}</strong>: {{value}}
        </li>
        <li>
          <button @click="addSlot()">Add Slot</button>
        </li>
      </ul>
    </div>

    <div>
      <h3>Logs</h3>

      <div class="log-section">
        <div v-for="log in logs" class="log-entry">
          <span class="tag" v-for="tag in log.tags">
            {{tag}}
          </span>
          {{log.message}}

          <span v-if="log.collapse == null" class="data">{{log.data}}</span>
          <template v-if="log.collapse === false">
            <a href="#" @click.prevent="log.collapse = true">Hide Data</a>
            <div style="white-space: pre;" class="data">{{log.data}}</div>
          </template>
          <span v-if="log.collapse">
            <a href="#" @click.prevent="log.collapse = false">Show Data</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .log-section {
    line-height: 100%;
  }
  .log-entry {
    padding: 0.2em 0;
  }

  .tag {
    background-color: #ddd;
    color: #333;
    border-radius: 3px;
    padding: 0 0.2em;
  }

  .data {
    font-family: monospace;
  }
</style>
