<script setup lang="ts">
  import { ref } from 'vue';
  import * as horde from '../horde';
  import * as ui from '../ui';

  const tasks = ref([]);
  horde.getIndex('task').then(entries => {
    console.log("task index", entries);
    let values = [];
    for (let id in entries) {
      let entry = entries[id];
      values.push({
        id,
        script_id: entry.script_id,
      });
    }
    values.reverse();
    tasks.value = values;
  })
</script>

<template>
  <main>
    <h1>Tasks</h1>
    <div v-for="task in tasks">
      <a :href="'/task/' + task.id">Task #{{task.id}}</a>
    </div>
  </main>
</template>

<style scoped>
</style>