<script setup lang="ts">
  import { ref } from 'vue';
  import * as ui from '../ui';

  const alerts = ref([]);

  function remove (index) {
    alerts.value.splice(index, 1);
  }

  ui.listen('alert', ev => {
    alerts.value.push(ev.message);
  });
</script>

<template>
  <div class="alert-container">
    <div v-for="(message, index) in alerts" class="alert" @click="remove(index)">
      {{message}}
    </div>
  </div>
</template>

<style scoped>
  .alert-container {
    position: absolute;
    display: flex;
    flex-direction: column;

    bottom: 0;
    width: 100%;
  }

  .alert {
    color: #841;
    background-color: #fd3;
    border: 1px solid #eb1;
    border-bottom: none;
    padding: 0.2em 0.4em;
  }
</style>
