<script setup lang="ts">
  import { ref, onMounted, onUnmounted } from 'vue';
  import * as ui from '../ui';

  const entries = ref(null);
  const menuElem = ref(null);
  const menuStyle = ref({});

  let callback = null;

  const mousePos = {x: null, y: null};
  const screenSize = {x: null, y: null};

  function onMouseMove (event) {
    mousePos.x = event.clientX;
    mousePos.y = event.clientY;
  }

  function onMouseDown (event) {
    // missfire
    if (!menuElem.value) return;

    if (!menuElem.value.contains(event.target)) {
      entries.value = null;
      callback(null);
    }
  }

  ui.listen('context-menu', ev => {
    if (!ev.entries || ev.entries.length == 0) {
      ev.callback(null);
      return;
    }

    entries.value = ev.entries;
    callback = ev.callback;

    screenSize.x = window.innerWidth;
    screenSize.y = window.innerHeight;

    computeStyle();
  });

  onMounted(() => {
    window.addEventListener('mousemove', onMouseMove);
    window.addEventListener('mousedown', onMouseDown);
  });

  onUnmounted(() => {
    window.removeEventListener('mousemove', onMouseMove);
    window.removeEventListener('mousedown', onMouseDown);
  });

  function selectEntry (entry) {
    if (entry.value != null) {
      entries.value = null;
      callback(entry.value);
    }

    if (entry.entries) {
      let newEntries = Array.from(entry.entries);

      if (!entry.backButton) {
        newEntries.unshift({
          title: 'Back',
          icon: 'fa-caret-left',
          entries: entries.value,
          backButton: true,
        });
      }

      entries.value = newEntries;
    }
  }

  function computeStyle () {
    let w = screenSize.x;
    let h = screenSize.y;

    let style = {};

    if (mousePos.x < w/2) {
      style.left = mousePos.x + 'px';
    } else {
      style.right = w-mousePos.x + 'px';
    }

    if (mousePos.y < h/2) {
      style.top = mousePos.y + 'px';
    } else {
      style.bottom = h-mousePos.y + 'px';
    }

    menuStyle.value = style;
  }
</script>

<template>
  <div v-if="entries" ref="menuElem" class="context-menu" :style="menuStyle">
    <div v-for="entry in entries" class="entry" @click.prevent="selectEntry(entry)">
      <i v-if="typeof entry.icon == 'string' && entry.icon.startsWith('fa-')" :class="['fa-solid', entry.icon]"></i>
      {{entry.title}}

      <i v-if="entry.entries && !entry.backButton" class="fa-solid fa-angle-right" style="font-size: 70%; float: right; opacity: 50%; line-height: 200%;"></i>
    </div>
  </div>
</template>

<style scoped>
  .context-menu {
    position: absolute;
    min-width: 10em;
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
    z-index: 500;
  }

  .entry {
    padding: 0.2em 0.4em;
  }

  .entry:hover {
    background-color: var(--color-green-dark);
  }

  i {
    width: 1em;
    text-align: center;
    margin-right: 0.3em;
  }
</style>
