<script setup lang="ts">
  import { ref } from 'vue';
  import * as ui from '../ui';

  const mode = ref(null);
  const value = ref(null);
  const message = ref(null);

  var callback = null;

  ui.listen('edit-value', ev => {
    console.log('edit-value', ev);

    value.value = ev.value;
    callback = ev.callback;

    if (ev.mode instanceof Array) {
      mode.value = Object.fromEntries(ev.mode.map(it => {
        return [it, it];
      }));
    } else {
      mode.value = ev.mode || 'text';
    }
  });

  function close () {
    mode.value = null;
    value.value = null;
    callback = null;
  }

  function save () {
    let newval = value.value;
    let _cb = callback;

    close();
    _cb(newval);
  }
</script>

<template>
  <div v-if='mode' @click.self='close()'
  style="
    position: absolute;
    display: flex;
    background-color: #0004;
    width: 100%;
    height: 100%;
    z-index: 400;

    align-items: center;
    justify-content: center;
  ">
    <div style="
      border: 1px solid var(--color-border);
      background-color: var(--color-background);
      padding: 1em;
      border-radius: var(--border-radius);
    ">
      <h3>Edit Value</h3>

      <div v-if="message">{{message}}</div>

      <div v-if="mode instanceof Object">
        <select v-model="value">
          <option v-for="(label, key) in mode" :value="key"> {{label}}</option>
        </select>
      </div>

      <div v-else>
        <div v-if="mode != 'text'">
          <i>Unknown mode: {{mode}}</i>
        </div>

        <textarea v-model="value" style="
          width: 50vh;
          height: 20vh;
        "></textarea>
      </div>

      <div style="display: flex; justify-content: space-evenly;">
        <button @click="save()">Save</button>
        <button @click="close()">Cancel</button>
      </div>
    </div>
  </div>
</template>

<style scoped>
</style>
