<script setup lang="ts">
  import { ref, computed } from "vue"

  import * as ui from '../ui';;
  import { Directory, File } from '../files';;

  import { base64 } from "rfc4648";

  const props = defineProps<{
    entry: any,
    level: Nullable<number>,
  }>();

  function getLevel (offset) {
    return (props.level || 0) + (offset || 0);
  }

  function padStyle (pad) {
    return { 'padding-right': (pad * 1.4) + 'em' }
  }

  async function uploadFile () {
    return new Promise(resolve => {
      // https://stackoverflow.com/a/40971885
      let input = document.createElement('input');
      input.type = 'file';

      input.onchange = e => { 
        // getting a hold of the file reference
        let file = e.target.files[0];

        // setting up the reader
        let reader = new FileReader();
        reader.readAsArrayBuffer(file); // this is reading as data url

        // here we tell the reader what to do when it's done reading...
        reader.onload = readerEvent => {
          let buffer = readerEvent.target.result;
          let bytes = new Uint8Array(buffer);
          let encoded = base64.stringify(bytes);

          resolve({
            name: file.name,
            content: encoded,
          });
        }
      }

      input.click();
    });
  }

  async function onContextMenu () {
    let entries = [
      {value: 'rename', icon: 'fa-i-cursor', title: 'Rename'}
    ];

    if (props.entry instanceof File) {
      entries.push({value: 'download', icon: 'fa-download', title: 'Download'});
    }
    if (props.entry instanceof Directory) {
      entries.push({value: 'upload', icon: 'fa-upload', title: 'Upload in Folder'});
    }

    entries.push({value: 'delete', icon: 'fa-trash', title: 'Delete'});

    let val = await ui.contextMenu(entries);
    if (!val) return;

    switch (val) {
      case 'upload': {
        let fileData = await uploadFile();

        props.entry.uploadBinary(fileData.name, fileData.content);
        break;
      }
      default: {
        ui.alert("File action not supported: " + val);
      }
    }
  }
</script>

<template>

  <div class="entry" v-if="entry instanceof File" @contextmenu.prevent="onContextMenu()">
    <span :style="padStyle(getLevel())"></span>
    <i class="fa-solid fa-file"></i>
    {{ entry.name }}
  </div>

  <template v-if="entry instanceof Directory">
    <div class="entry" @click="entry.toggle()" @contextmenu.prevent="onContextMenu()">
      <span :style="padStyle(getLevel())"></span>
      <i :class="['fa-solid', 'dir-icon', entry.opened ? 'fa-folder-open' : 'fa-folder']"></i>
      {{ entry.name }}
    </div>

    <div v-if="entry.opened && entry.entries == null" class="dir-entries">
      <span :style="padStyle(getLevel(1))"></span>
      <i class="fa-solid fa-hourglass" style="color: dimgray;"></i>
      Loading ...
    </div>

    <template v-if="entry.opened && entry.entries != null" class="dir-entries">
      <file-entry v-for="subentry in entry.entries" :entry="subentry" :level="getLevel(1)"/>
    </template>
  </template>

</template>

<style type="text/css" scoped>
  .entry{
    padding-left: 0.6em;
  }

  .entry i {
    width: 1.6em;
  }

  .entry:hover {
    background-color: var(--color-green-dark);
  }

  .dir-icon {
    color: #cc5;
  }
</style>