<script setup lang="ts">
  import { ref, computed } from "vue"

  import * as ui from '../ui';

  import {Field} from '../schema';

  const props = defineProps<{
    field: Field,
  }>();

  function setValue (value) {
    props.field.value = value;
    props.field.emit();
  }

  function editJson () {
    ui.editValue(null, JSON.stringify(props.field.value), raw => {
      let newval;
      try {
        newval = JSON.parse(raw);
      } catch (e) {
        ui.alert(e.toString());
        return;
      }

      setValue(newval);
    });
  }
</script>

<template>
  <div>
    <div v-if="field.displayMode=='string'">
      <textarea
        v-model="field.value"
        @change="field.emit()"
        style="width: 100%; height: 5em; resize: vertical;">
      </textarea>
    </div>

    <div v-if="field.displayMode=='slot'" class="slot-value">
      <i class="fa-solid fa-tag"></i>
      {{field.key}}
    </div>

    <div v-if="field.displayMode=='enum'">
      <select v-model="field.value" @change="field.emit()">
        <option v-for="option in display.options"
          :value="option.value">
          {{option.title}}
        </option>
      </select>
    </div>

    <div v-if="field.displayMode=='json'"
      class="json-value">
      {{JSON.stringify(field.value)}}
    </div>

    <div v-if="field.displayMode=='boolean'">
      <input type="checkbox" :checked="field.value"
      @change="setValue($event.target.checked)">
    </div>

    <div v-if="!field.displayMode" style="display: flex;">
      <div class="json-value" style="flex-grow: 1; max-height: 10em;">
        {{JSON.stringify(field.value) || "undefined"}}
      </div>
      <div>
        <button @click="editJson()">
          <i class="fa-solid fa-pencil"></i>
        </button>
      </div>
      <div class="schema">{{schema}}</div>
    </div>

  </div>
</template>

<style type="text/css" scoped>
  .json-value {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: 0.1em 0.3em;
    font-family: monospace;
    font-size: 90%;
    overflow-y: auto;
  }
</style>