<script setup lang="ts">
  import {
    ref, computed, reactive,
    onMounted, onUnmounted,
  } from "vue";

  import * as horde from '../horde';
  import * as ui from '../ui';

  function indexObject (rootPath, mapper) {
    if (!mapper) mapper = x=>x;

    let base = ref([]);

    function pathToId (path) {
      if (path.startsWith(rootPath)) {
        return path.slice(rootPath.length + 1);
      }
      return path;
    }

    // returns promise of the cancel function
    horde.observeObject(rootPath, obj => {
      let list = Object.entries(obj).map(entry => {
        let value = mapper(entry[1]);
        value.id = pathToId(entry[0]);
        return value;
      });

      base.value = list;
    });

    return base;
  }

  const agents = indexObject('.horde/agents');
  const scripts = ref([]);

  var _scriptsCancel = null;

  onMounted(async () => {
    _scriptsCancel = await horde.observeIndex(
      '.horde/scripts', newval => {
        console.log(newval);
        scripts.value = newval
      }
    );
  });

  onUnmounted(() => {
    if (_scriptsCancel) {
      _scriptsCancel();
      _scriptsCancel = null;
    }
  });


  // === Actions === //

  const collapsed = ref(false);

  async function createAgent () {
    let agentId = (await horde.createInstance('agent', {name: "Unnamed Agent"})).id;
    ui.goto(`/agent/${agentId}`)
  }

  async function createScript () {
    let scriptOutput = (await horde.createInstance('script'));
    ui.goto(`/script/${scriptOutput.handle}`)
  }

</script>

<template>
  <button class="nav-button expand-navbar" v-if="collapsed" @click="collapsed = false;">
    <i class="fa-solid fa-angles-right"></i>
  </button>

  <aside id="main-sidebar" v-else>
    <nav>
      <header>
        <a href="/" class="nav-button home-link">
          <img src="/horde.png" style="height: 2em;">
        </a>

        <button class="nav-button collapse-navbar" @click="collapsed = true;">
          <i class="fa-solid fa-angles-left"></i>
        </button>
      </header>

      <div style="width: 100%;">
        <!--a href="/files" class="nav-item">
          <i class="fa-solid fa-file"></i>
          Files
        </a-->

        <a href="/marketplace" class="nav-item">
          <i class="fa-solid fa-store"></i>
          Marketplace
        </a>

        <a href="/tasks" class="nav-item">
          <i class="fa-solid fa-bars-progress"></i>
          Tasks
        </a>

        <span class="nav-item">Agents</span>
        <template v-for="agent in agents">
          <a :href="'/agent/' + agent.id" class="nav-item">
            <i class="fa-solid fa-user"></i>
            {{agent.name}}
          </a>
        </template>

        <button @click="createAgent()" class="nav-item">
          <i class="fa-solid fa-plus"></i>
          Create Agent
        </button>


        <span class="nav-item">Scripts</span>
        <template v-for="script in scripts">
          <a :href="'/script/' + script.id" class="nav-item">
            <i class="fa-solid fa-diagram-project"></i>
            {{script.name || script.title || 'Script ' + script.id}}
          </a>
        </template>


        <button @click="createScript()" class="nav-item">
          <i class="fa-solid fa-plus"></i>
          Create Script
        </button>
      </div>

      <ul>
      </ul>
    </nav>
  </aside>
</template>

<style scoped>
  #main-sidebar {
    overflow-y: auto;
    width: 15em;
    flex-grow: 0;
    flex-shrink: 0;

    height: 100vh;

    border-right: 1px solid var(--color-border);
  }

  #main-sidebar header {
    display: flex;
    flex-direction: row;
  }

  .nav-button {
    display: block;
    border: none;
    border-radius: 0;
    background-color: transparent;

    width: 10px;

    padding: 0.2em;

    vertical-align: middle;
  }

  .nav-button:hover {
    background-color: var(--color-green-dark);
  }

  .nav-item {
    display: block;

    color: var(--color-green);
    background-color: transparent;
    border: none;

    border-radius: 0;
    padding: 0.2em 0.4em;
    width: 100%;

    text-align: left;
    vertical-align: middle;

    font-size: inherit;
  }

  .nav-item:hover {
    background-color: var(--color-green-dark);
  }

  .nav-item i {
    font-size: 80%;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .collapse-navbar { width: 3em; }

  .home-link {
    display: flex;
    flex-grow: 1;
    padding-left: 1em;
    vertical-align: middle;
    align-items: center;
  }

  .expand-navbar {
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
    position: absolute;
    top: 0;
    left: 0;
    width: 3em;
    height: 3em;
  }
</style>