@import './base.css';

*[hidden] { display: none !important; }

a,
.green {
  text-decoration: none;
  color: var(--color-green);
  transition: 0.4s;
}

ul {
  padding-left: 1.5em;
}

button {
  background-color: var(--color-background-soft);
  border: 1px solid var(--color-border);
  color: inherit;
  border-radius: var(--border-radius);
  line-height: inherit;
  font-size: 95%;
  padding: 0.1em 0.5em;

  transition: background-color 1s,
}

button:hover {
  background-color: var(--color-green-dark);
}

main {
  width: 100%;
  height: 100%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
