<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'

import Sidebar from './components/Sidebar.vue'
import EditModal from './components/EditModal.vue'
import ContextMenu from './components/ContextMenu.vue'
import Alerts from './components/Alerts.vue'
</script>

<template>
  <!--header>
    <img alt="Vue logo" class="logo" src="@/assets/logo.svg" width="125" height="125" />

    <div class="wrapper">
      <HelloWorld msg="Did you do it tho?" />

      <nav>
        <RouterLink to="/">Home</RouterLink>
        <RouterLink to="/about">About</RouterLink>
      </nav>
    </div>
  </header-->

  <EditModal />
  <ContextMenu />
  <Alerts />

  <Sidebar />

  <div class="view-container">
    <RouterView />
  </div>
</template>

<style>
  body {
    display: flex;
    direction: row;
  }

  .view-container {
    height: 100vh;
    flex-grow: 1;
    overflow: auto;
  }
</style>
