<script setup lang="ts">
  import { ref } from 'vue';
  import * as ui from '../ui';

  const emit = defineEmits(['change']);
  const props = defineProps<{
    value: string,
    mode: string,
  }>();

  function doEdit () {
    console.log('edit?', props);
    ui.editValue(props.mode, props.value, newValue => {
      emit('change', {value: newValue});
    });
  }
</script>

<template>
  <button @click="doEdit()" class="edit-btn">
    <i class="fa-solid fa-pencil"></i>
  </button>
</template>

<style scoped>
  .edit-btn {
    background: none;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    color: inherit;

    padding: 0.3em 0.5em;
  }

  .edit-btn:hover {
    background-color: var(--color-background-mute);
  }
</style>
